<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>project-page.html</title>
</head>

<body>
<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="60">
    <!-- Определение градиента -->
    <defs>
        <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:blue;stop-opacity:1"/>
            <stop offset="100%" style="stop-color:green;stop-opacity:1"/>
        </linearGradient>
    </defs>
    <!-- Прямоугольник с градиентом -->
    <rect width="100%" height="60" fill="url(#grad1)"/>
    <!-- Текст -->
    <text x="10" y="40" font-family="Arial, sans-serif" font-size="24" fill="white">Предприятие - Таблицы</text>
</svg>
<h2 style="font-size: 32px;">Страница Проекта #<span th:text="${project.id}"></span></h2><br>
<span><a th:href="@{'/home/timesheets'}">вернуться в Таблицу</a></span>
<br><br>
<h2>Проект #<span th:text="${project.id}"></span></h2>
Название проекта: <span th:text="${project.name}"></span>
<br><br><br><br>
<span><a th:href="@{'/home/timesheets'}">вернуться в Таблицу</a></span>
<br><br><br><br><br><br><br><br><br>
<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="60">
    <!-- Определение градиента -->
    <defs>
        <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:blue;stop-opacity:1"/>
            <stop offset="100%" style="stop-color:green;stop-opacity:1"/>
        </linearGradient>
    </defs>
    <!-- Прямоугольник с градиентом -->
    <rect width="100%" height="60" fill="url(#grad1)"/>
    <!-- Текст -->
    <text x="10" y="40" font-family="Arial, sans-serif" font-size="24" fill="white">Предприятие - Список</text>
</svg>
<h2 style="font-size: 32px;">Сотрудники: Исполнители проектов</h2>
<br>
<br> <a href="/home/employees">перейти в Список</a>
<br>
<br>
<br>
<br></body>

</html>
